// cargo - Rust package manager
// https://doc.rust-lang.org/cargo/

backend "cargo" {
    meta {
        title "Cargo"
        description "Rust package manager"
        version "1.0.0"
        author "declarch"
        tags "rust" "package-manager"
        homepage "https://doc.rust-lang.org/cargo/"
        license "MIT"
        created "2026-02-08"
        platforms "linux" "macos" "windows"
        requires "cargo"
    }
    
    binary "cargo"
    
    list "cargo install --list 2>/dev/null || echo ''" {
        format whitespace
        name_col 0
        version_col 1
    }
    
    install "cargo install {packages}"
    remove "cargo uninstall {packages}"
    
    needs_sudo false
}
