// npm - Node.js package manager
// https://www.npmjs.com

backend "npm" {
    meta {
        title "NPM"
        description "Node.js package manager"
        version "1.0.0"
        author "declarch"
        tags "nodejs" "javascript" "package-manager"
        homepage "https://www.npmjs.com"
        license "MIT"
        created "2026-02-08"
        platforms "linux" "macos" "windows"
        requires "npm"
    }
    
    binary "npm"
    
    list "npm list -g --depth=0 --json 2>/dev/null" {
        format json
        json_path "dependencies"
        name_key "name"
        version_key "version"
    }
    
    install "npm install -g {packages}"
    remove "npm uninstall -g {packages}"
    
    needs_sudo false
}
