// pacman - Arch Linux package manager
// https://wiki.archlinux.org/title/Pacman

backend "pacman" {
    meta {
        title "pacman"
        description "Arch Linux package manager"
        version "1.0.0"
        author "declarch"
        tags "arch" "linux" "package-manager" "official"
        homepage "https://wiki.archlinux.org/title/Pacman"
        license "GPL-2.0"
        created "2026-02-08"
        platforms "linux"
        requires "pacman"
    }
    
    binary "pacman"
    
    list "pacman -Q" {
        format whitespace
        name_col 0
        version_col 1
    }
    
    install "pacman -S --needed {packages}"
    remove "pacman -Rns {packages}"
    
    noconfirm "--noconfirm"
    needs_sudo true
}
