// soar - Fast, modern package manager for Linux
// https://github.com/pkgforge/soar

backend "soar" {
    meta {
        title "Soar"
        description "Fast, modern package manager for Linux static binaries"
        version "1.0.0"
        author "declarch"
        tags "soar" "static" "binary" "linux" "cli"
        homepage "https://github.com/pkgforge/soar"
        license "MIT"
        created "2026-02-08"
        platforms "linux"
        requires "soar"
    }
    
    binary "soar"
    
    list "soar list --quiet 2>/dev/null || soar list" {
        format whitespace
        name_col 0
    }
    
    install "soar install {packages}"
    remove "soar remove {packages}"
    
    // Soar doesn't have noconfirm flag, it's non-interactive by default
    needs_sudo false
    
    // Aliases: app = soar (for backward compatibility)
}
