// yarn - Fast, reliable dependency management
// https://yarnpkg.com

backend "yarn" {
    meta {
        title "Yarn"
        description "Fast, reliable, and secure dependency management"
        version "1.0.0"
        author "declarch"
        tags "nodejs" "javascript" "package-manager"
        homepage "https://yarnpkg.com"
        license "BSD"
        created "2026-02-08"
        platforms "linux" "macos" "windows"
        requires "yarn"
    }
    
    binary "yarn"
    
    // Yarn global is messy, use npm list instead
    list "npm list -g --depth=0 --json 2>/dev/null" {
        format json
        json_path "dependencies"
        name_key "name"
        version_key "version"
    }
    
    install "yarn global add {packages}"
    remove "yarn global remove {packages}"
    
    needs_sudo false
}
