// declarch configuration
// Created for host: Arch

// Import other module files (optional)
// imports {
//     "modules/common.kdl"
// }

packages {
    // Add packages here
    sudo
    ffmpeg
    rofi-wayland
    gdu
    base-devel
    onefetch
    // gcc-libs
    lib32-gcc-libs
    flatpak:md.obsidian.Obsidian
    obsidian
}

excludes {
    // Add packages to exclude
}
