// Host configuration for Arch
description "My Arch setup"

// imports {
    "modules/try1.kdl"
//     "modules/base.kdl"
// }

packages {
    // Add packages here
    // git
    // vim
    // flatpak:org.mozilla.firefox
}

excludes {
    // Add packages to exclude
}
