name: Release

on:
  push:
    tags:
      - "v*" 

permissions:
  contents: write

jobs:
  build-and-release:
    name: Build and Release
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      
      - name: Build Binary
        run: cargo build --release --locked --verbose

     
      - name: Strip Binary
        run: strip target/release/declarch

      - name: Package
        shell: bash
        run: |
          VERSION=${GITHUB_REF#refs/tags/}
          ARCHIVE_NAME="declarch-$VERSION-x86_64-unknown-linux-gnu.tar.gz"
          
          cd target/release
          tar -czf "../../$ARCHIVE_NAME" declarch
          
          cd ../..
          echo "ASSET_PATH=$ARCHIVE_NAME" >> $GITHUB_ENV

      - name: Upload Release Asset
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: ${{ env.ASSET_PATH }}
          generate_release_notes: true 
